<h3><%= @return_reason.name %></h3><br />
<p><%= link_to "All Return Reasons", return_reasons_path%> | <%= link_to "Edit return reason", edit_return_reason_path(@return_reason.id)%>
    | <%= link_to "Delete return reason", return_reason_path(@return_reason.id), method: :delete, data: {confirm: "Are you sure?"} %></p>