<h3><%= @property.property_code %></h3><br />
<p><%= link_to "All Properties", properties_path%> | <%= link_to "Edit property", edit_property_path(@property.id)%>
    | <%= link_to "Delete property", property_path(@property.id), method: :delete, data: {confirm: "Are you sure?"} %></p>